<h2>Clearance Batches</h2>

<%= form_tag(clearance_batches_path, multipart: true, role: 'form') do %>
  <div class="form-group">
    <%= label_tag 'file-field', 'Select batch file' %>
    <%= file_field_tag 'file-field', :id => 'file-field' %>
  </div>
  <%= button_tag 'upload batch file', :id => 'upload-batch-button' %>
<% end %>

<table id="batches-table">
  <thead>
    <tr>
      <th></th>
      <th>Date clearanced</th>
      <th>Number of items clearanced</th>
    </tr>
  </thead>
  <tbody>
    <%- @batches.each do |batch| -%>
      <tr id="batch-<%=batch.id%>" data-href="<%=clearance_batch_items_path(batch.id)%>" class='link-row'>
        <td>Clearance Batch <%= batch.id %></td>
        <td><%= l(batch.created_at, format: :short) %></td>
        <td><%= batch.items.count %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
