<!DOCTYPE html>
<html>
<head>
  <title>Clearancing Dashboard</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1>Stitch Fix Clearance Tool</h1>

  <%= render :partial => 'layouts/messages', :locals => {:messages => @success_messages, :message_type => 'info'} %>
  <%= render :partial => 'layouts/messages', :locals => {:messages => @error_messages, :message_type => 'danger'} %>

  <%= yield %>
</div>

</body>
</html>
